
.cont{
    width: 100%;
    background-color:#064CDB ;
}
nav{
    justify-content: flex-end;
    margin-left: 160px;
}
header{
    background: rgba(0, 0, 0, 0.25);
}
container-fruid{
    width: 80%;
}
main{
    width: 100%;
    height: 370px;
}
main a{
    width: 10%;
    height: 40px;
}
.navbar-nav{
    display: flex;
    margin-right: 410px;
}
a{
    transition: 1s;
}
#btn-green{
    color: aliceblue;
    background-color: rgb(24, 196, 44);
    width: 30%;
    height: 50px;
    align-content: center;
    margin: auto;
    margin-top: 30px;
}
#btn-green:hover{
    background-color:rgb(30, 165, 46); ;
    box-shadow: 0px 0px 5px black inset;
}
.nav-link{
    color: aliceblue;
}
nav a:hover{
    color: white;
    font-weight: 400;
    text-decoration:overline ;
}
.maintxt{
    color: white;
    font-weight: 400;
    text-align: center;
}
.box{
    width: 50%;
    height: 60%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#a1{
    transition: 0.3s;
    color: rgb(255, 255, 255);
    text-decoration:overline ;
}
#a2{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}
#a3{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}
#a4{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}
#a5{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}
#a6{
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}

#a1:hover{
    color: white;
    font-weight: 400;
    text-decoration:overline ;
}
#a2:hover{
    color: white;
    font-weight: 400;
    text-decoration:overline ;
}
#a3:hover{
    color: white;
    font-weight: 400;
    text-decoration:overline ;
}
#a4:hover{
    color: white;
    font-weight: 400;
    text-decoration:overline ;
}
#a5:hover{
    color: white;
    font-weight: 400;
    text-decoration:overline ;
}
#a6:hover{
    color: white;
    font-weight: 400;
    text-decoration:overline ;
}
#slider{
    margin: auto;
}
main img{
    margin: 0;
    transition: 0.15s;
    height: 100%;
}
main img:hover{
    transform: scale(0.98);
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
}
#carouselExample{
    margin-top: 60px;
    height: 250px;
}
#next{
    border: 1px solid black;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 15px gray inset;
    width: 80px;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
#prev{
    border: 1px solid black;
    backdrop-filter: blur(15px);
    box-shadow: 0px 0px 15px gray inset;
    width: 80px;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
.carousel-inner{
    height: 100%;
}
#carousel1{
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
#carousel2{
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
#carousel3{
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.col{
    height: 100%;
}
.row{
    height: 100%;
}